version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: reddit_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: reddit
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
